body {
    color: blueviolet;
    display: flex;
    flex-flow: row nowrap;
}

.hero-img-container {
    display: flex;
    width: 50vw;
    height: 100vh;
}

.form-container {
    display: flex;
    width: 50vw;
    height: 100vh;
}

.description-section {
    background: #f3f3f3;
    height: 28%;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 90%;
}