body {
    color: blueviolet;
    display: flex;
    flex-flow: row nowrap;
}

.hero-img-container {
    width: 50vw;
    height: 100vh;
}

.form-container {
    width: 50vw;
    height: 100vh;
}

img {
    max-width: 100%;
    max-height: 100%;
}