* {
    box-sizing: border-box;
}

body {
    color: black;
    display: flex;
    flex-flow: row nowrap;
}

.hero-img-container {
    display: flex;
    width: 50vw;
    height: 100vh;
}

.form-container {
    display: flex;
    flex-flow: column wrap;
    width: 50vw;
    height: 100vh;
}

.description-section,
.form-section,
.submit-section {
    padding-left: 1.5em;
    flex-grow: 1;
}

.description-section {
    background: #f3f3f3;
    height: 28%;
    width: 100%;
}

img.cathedral {
    max-width: 100%;
    max-height: 100%;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
}

button, label, input {
    display: block;
    width: 100%;
    padding: 5px;
    height: 30px;
  }

input {
    box-shadow: inset 1px 1px 3px #ccc;
    border-radius: 5px;
}

input[type='password']:invalid {
    border-color: red;
}

input[type='password']:invalid::after {
    content: '*passwords do not match';
    display: block;
    height: 1em;
    width: 1em;
}